* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Be Vietnam", sans-serif;
  font-size: 10px;
}
body {
  display: flex;
  flex-wrap: wrap;
  min-height: 100%;
  justify-content: space-around;
  align-content: flex-start;
  background-color: #212135;
}
.addSection {
  margin-top: 4%;
  background-color: #363657;
  min-height: 30%;
  flex-basis: 95%;
  display: flex;
  flex-wrap: wrap;
  border-radius: 15px;
  max-width: 1200px;
  padding: 2%;
}
.addSection input {
  font-size: 2.5rem;
  width: 90%;
  padding: 2%;
  margin: 2% auto;
  border-radius: 10px;
  border: 1px solid black;
  outline: none;
  transition: 0.1s;
  background-color: #ffffff;
  max-width: 450px;
  max-height: 50px;
}
.addSection input:focus {
  border-color: yellowgreen;
}
.addSection button {
  flex-basis: 70%;
  margin: 1% auto;
  font-size: 2rem;
  padding: 2% 1.5%;
  text-transform: uppercase;
  border-radius: 10px;
  border: 1px solid#0e7a80;
  color: #212135;
  outline: none;
  background-color: #00d6d1;
  max-width: 360px;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
}
.addSection button:hover {
  background-color: #0e7a80;
  color: white;
}
.moveToCan {
  background-color: #363657;
  border-radius: 15px;
  flex-basis: 95%;
  min-height: 10vh;
  margin-top: 4%;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
}
.moveToCan p {
  color: #efeff0;
  margin-left: 2%;
}
.moveToCan button {
  align-self: stretch;
  font-size: 1.5rem;
  padding: 0 5%;
  border-radius: 0 15px 15px 0;
  border: none;
  background-color: #0e7a80;
  color: #efeff0;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.2s;
}
.moveToCan button:hover {
  background-color: #0d7277;
}
.newCards,
.canCards {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  justify-content: space-around;

  margin-top: 4%;
  padding-bottom: 10%;
  max-width: 1400px;
}
.canCards {
  background: linear-gradient(#212135, #0e7a80);
}

.card {
  background-color: #363657;
  flex-basis: 90%;
  max-width: 350px;
  min-height: 230px;
  font-size: 3rem;
  display: flex;
  flex-direction: column;

  margin-top: 4%;
  border-radius: 15px;
}

.txtInCard {
  align-self: center;
  flex-grow: 1;
  display: flex;
  align-items: center;
  color: #efeff0;
  font-size: 4rem;
  text-align: center;
  padding: 2%;
}
.cardBtns {
  width: 95%;

  display: flex;
  justify-content: space-around;
  margin: 0% auto 5%;
}
.cardBtns button {
  font-size: 1.4rem;
  padding: 2%;
  text-transform: uppercase;
  flex-basis: 30%;
  border-radius: 10px;
  border: 1px solid #0e7a80;
  background-color: #00d6d1;
  color: #212135;
  cursor: pointer;
  transition: 0.2s;
}
.cardBtns button:hover {
  color: white;
  background-color: #0e7a80;
}

.hide {
  display: none;
}
@media (min-width: 600px) {
  /* .card {
    min-height: 40vh;
  } */
  .addSection input {
    padding: 1% 2%;
  }
  .addSection button {
    padding: 1%;
  }
  .card {
    padding-top: 1%;
    flex-basis: 40%;
    margin: 2%;
  }
  .txtInCard {
    padding: 10%;
  }
}
@media (min-width: 700px) {
  .newCards,
  .canCards {
    padding-right: 4%;
    padding-left: 4%;
    justify-content: flex-start;
  }
}
@media (min-width: 900px) {
  .addSection input {
    flex-basis: 40%;
  }
  .newCards,
  .canCards {
    padding-right: 2%;
    padding-left: 2%;
  }
  .card {
    flex-basis: 40%;
    margin: 1.5%;
  }
  .moveToCan {
    margin-top: 2%;
  }
}
@media (min-width: 1000px) {
  .card {
    flex-basis: 30%;
  }
  .txtInCard {
    padding: 3%;
  }
}
@media (min-width: 1240px) {
  .card {
    flex-basis: 22%;
  }
}
